body {
	background-color: #3f3f3f;
	color: #BEBEBE;
	font-family: sans-serif;
	margin: 0px;
}

div.header {
	background-color: rgba(0, 0, 0, 0.50);
	font-size: 16px;
	margin-bottom: 16px;
	padding: 16px;
	text-align: left;
}

div.content {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	margin: 0px auto;
	padding: 0px;
	text-align: left;
}

span.name .githubLink .emailLink {
	padding-right: 16px;
}



a:link {
	color: #AEAEAE;
}

a:visited {
	color: #AEAEAE;
}

h1 {
	font-size: 1.5em;
	margin: 0px;
	padding: 16px;
}

p {
	font-size: 12pt;
	margin: 0px;
	padding: 16px;
}
